/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a{
	text-decoration: none;
	color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
/************************ bouton filtre intégré en javascript ******************************/
.btn-tous, .btn-objets, .btn-appart, .btn-hotels,.btn_connection{
	width: auto;
	height: 37px;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	margin: 50px 10px 40px 10px;
	padding: 10px;
}
.btn-tous:hover, .btn-objets:hover, .btn-appart:hover, .btn-hotels:hover,.btn_connection{
	background-color: #1D6154;
	color:white;
}
/***********************************************************************************************/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/******************************** page de connection ********************************/
.back_color{
	background-color: #E5E5E5;
}
#form_connection{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.connection{
	width: 100%;
	height: 367px;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 232px;
	margin-bottom: 345px;
}
.form_connection_email,.form_connection_motdepasse{
	font-family:"Work Sans";
	font-weight: 500;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top: 37px;
}
#email,#password{
	width: 379px;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}
.btn_connection{
	align-content: space-around;
	font-family: "Syne";
	font-weight: 700;
	font-size: 14px;
	margin-top: 37px;
	margin-bottom: 28px;
	width: 179px;
}
.réinitialiser{
	text-decoration:underline;
	font-family: "work Sans";
	font-weight: 500;
	font-size: 14px;
	color: #3D3D3D;
}
.footer_page_connection{
	height: 60px;
	background-color: white;
}

/********************** changement mode Admin  **************************/
.fa-pen-to-square{
	width: 16px;
	height: 16px;
	padding-right: 3px;
}
.div-noir{
	width: 100%;
	height: 68px;
	background-color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}
.a-edition{
	font-family:"Work Sans";
	font-weight: 400;
	font-size: 16px;
	color: white;
}
.btn-publier{
	background-color: white;
	color: black;
	width: 216px;
	height: auto;
	padding: 11px 21px 11px 21px;
	text-align: center;
	font-family: "Work Sans";
	font-weight: 500;
	font-size: 14px;
	border: 2px solid white;
	border-radius: 60px;
	margin-left: 21px;
}
.a-intro{
	border: none;
	margin-bottom: 20px;
}
.a-photo{
	border: none;
	margin-left: 57px;
	margin-top: 16px;
}
.a-titre{
	border: none;
	font-weight: 400;
	font-size: 14px;
	margin-left: 30px;
}
/******* modale *****/
.modale-container{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
.modale{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	position: fixed;
	top: 40%;
	margin-left: 33.3%;
	margin-right: 33.3%;
	min-width: 500px;
	max-width: 630px;
	max-height: 830px;
	border-radius: 10px;
	background-color: white;
	
}
.modale-container.active{
	display: block;
}
.btn-close{
	position: absolute;
	right: 2px;
	font-size: 14px;
	border: none;
	background-color: white;
	margin: 10px 10px 0px 0px;
}
.titre-modale{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: black;
	margin-top: 30px;
}
.modale-galery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	height: 420px;
	margin: auto;
}
.mini-gallery{
	width: 78px;
	height: 104px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	background-color: white;
}
.img-mini{
	width: 78px;
	height: 104px;
	object-fit: contain;
}
.move-img{
	display:block
}
.fleche{
	display: none;
	width: 11px;
	height: 11px;
	position: absolute;
	background-color: black;
	color: white;
	padding: 3px;
	border-radius: 2px;
	margin: 6px 0px 0px 34px;
}

.poubelle{
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	border-radius: 2px;
	margin: 6px 0px 0px 54px;
	background-color: black;
}
.img-poubelle{
	width: 11px;
	height: 11px;
	position: absolute;
	color: white;
	margin: 3px;
}
.ligne-modale{
	margin: 20px;
	width: 460px;
	border: 1px solid #B3B3B3;
}
.btn-modale{
	margin: 20px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	padding : 10px 49px 10px 49px;
	width: 250px;
	text-align: center;
	border-radius: 60px ;
}
.supp-gallery{
	margin: auto;
	color: #D65353;
	background: #FFFFFF;
	border-radius: 10px;
	margin-bottom: 40px;
}

.ajout-modale{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	position: fixed;
	top: 40%;
	left: 30%;
	width: 40%;
	max-width: 630px;
	height: 730px;
	border-radius: 10px;
	background-color: white;
}
